.main {
  margin: 15% 25%;
}

h1 {text-align: center;}

.vote {
  background: #ffecce;
  padding: 20px;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.con { width: 120px; position: relative; }

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #88b76f;
  position:absolute;
  font-size: 20px;
}

button:active{ font-size: 23px; }

